.container {
  display: grid;
  justify-items: center;

  .active {
    ::ng-deep {
      .mat-progress-bar-fill::after {
        background-color: #36c565;
      }
    }
  }

  .warning {
    ::ng-deep {
      .mat-progress-bar-fill::after {
        background-color: #ffa700;
      }
    }
  }

  .warn {
    ::ng-deep {
      .mat-progress-bar-fill::after {
        background-color: #e44242;
      }
    }
  }

  mat-list {
    mat-list-item {
      height: auto;
      padding: 4px 0;

      div {
        margin-left: 10px;
        font-size: 12px;
      }
    }
  }
}
