<div class="container">
  <mat-progress-bar mode="determinate"
                    [ngClass]="strength < 35 ? 'warn' : strength === 100 ? 'active' : 'warning'"
                    [value]="strength">
  </mat-progress-bar>

  <mat-list>
    <mat-list-item *ngIf="minLength > 0">
      <mat-icon matListItemIcon
                [ngStyle]="containMinLength ? {color: '#36c565'} : {color: '#e44242'}">
        {{containMinLength ? 'check_circle_outline' : 'error_outline'}}
      </mat-icon>
      <div matListItemTitle [ngStyle]="containMinLength ? {color: '#36c565'} : {color: '#e44242'}">
        {{"Must be at least"}} {{minLength}} {{"characters long"}}
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="hasUpperCase">
      <mat-icon matListItemIcon
                [ngStyle]="containAtLeastOneUpperCaseLetter ? {color: '#36c565'} : {color: '#e44242'}">
        {{containAtLeastOneUpperCaseLetter ? 'check_circle_outline' : 'error_outline'}}
      </mat-icon>
      <div matListItemTitle [ngStyle]="containAtLeastOneUpperCaseLetter ? {color: '#36c565'} : {color: '#e44242'}">
        Must contain at least one uppercase letter
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="hasLowerCase">
      <mat-icon matListItemIcon
                [ngStyle]="containAtLeastOneLowerCaseLetter ? {color: '#36c565'} : {color: '#e44242'}">
        {{containAtLeastOneLowerCaseLetter ? 'check_circle_outline' : 'error_outline'}}
      </mat-icon>
      <div matListItemTitle [ngStyle]="containAtLeastOneLowerCaseLetter ? {color: '#36c565'} : {color: '#e44242'}">
        Must contain at least one lowercase letter
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="hasNumber">
      <mat-icon matListItemIcon
                [ngStyle]="containAtLeastOneDigit ? {color: '#36c565'} : {color: '#e44242'}">
        {{containAtLeastOneDigit ? 'check_circle_outline' : 'error_outline'}}
      </mat-icon>
      <div matListItemTitle [ngStyle]="containAtLeastOneDigit ? {color: '#36c565'} : {color: '#e44242'}">
        Must contain at least one number
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="hasSpecialChar">
      <mat-icon matListItemIcon
                [ngStyle]="containAtLeastOneSpecialChar ? {color: '#36c565'} : {color: '#e44242'}">
        {{containAtLeastOneSpecialChar ? 'check_circle_outline' : 'error_outline'}}
      </mat-icon>
      <div matListItemTitle [ngStyle]="containAtLeastOneSpecialChar ? {color: '#36c565'} : {color: '#e44242'}">
        Must contain at least one special character
      </div>
    </mat-list-item>
  </mat-list>
</div>
