<div class="registration-page">
  <div class="row">
    <div class="col-md-6 form">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-6 background">
      <svg viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice"
           xmlns="http://www.w3.org/2000/svg" class="circle">
        <g fill="none" stroke="currentColor" stroke-width="100" class="text-gray-700 opacity-25 ng-tns-c142-29">
          <circle r="234" cx="196" cy="23" class="ng-tns-c142-29"></circle>
          <circle r="234" cx="790" cy="491" class="ng-tns-c142-29"></circle>
        </g>
      </svg>
      <svg viewBox="0 0 220 192" width="220" height="192" fill="none"
           class="dots">
        <defs class="ng-tns-c142-29">
          <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                   patternUnits="userSpaceOnUse" class="ng-tns-c142-29">
            <rect x="0" y="0" width="4" height="4" fill="currentColor" class="ng-tns-c142-29"></rect>
          </pattern>
        </defs>
        <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)" class="ng-tns-c142-29"></rect>
      </svg>
      <div class="info">
        <div class="header-title">
          <p>Welcome To</p>
          <p>Our Community</p>
        </div>
        <div class="header-text">
          <p> Fuse helps developers to build organized and well coded dashboards full of beautiful and rich modules.
            Join us and start building your application today. </p>
        </div>
        <div class="images">
          <div class="photos">
            <img [src]="img" alt="registered people" *ngFor="let img of imagesAddress">
          </div>
          <div class="text">
            <p>More than 17k people joined us, it's your turn</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
